<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="szathmary.peter.mychat">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyChat">
        <activity
            android:name=".ui.login.LoginActivity"
            android:noHistory="true"
            android:exported="false"
            android:theme="@style/Theme.MyChat.NoActionBar" />
        <activity
            android:name=".ui.login.RegisterOrLoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MyChat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activity.MainScreenActivityRegular"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.MyChat.NoActionBar" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:noHistory="true"
            android:exported="false" />
    </application>

</manifest>